<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategorySortedMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="CategorySortedMap"
		type="study.spring.clip.model.CategorySorted">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 s연결한다. -->
		<result property="movie_no" column="movie_no" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="sale" column="sale" />
		<result property="price" column="price" />
		<result property="thumbnail" column="thumbnail" />
		<result property="category_type_no" column="category_type_no" />
	</resultMap>

	<select id="OneCategorySorted"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="CategorySortedMap">
		SELECT movie_no, name, type, sale, Floor(price / 100 * (100 - sale)) as price, thumbnail FROM movie
		WHERE movie_no IN(select movie_no from movie_category
		WHERE category_type_no = #{category_type_no});
	</select>

	<select id="TotalCategorySorted"
		parameterType="study.spring.clip.model.CategorySorted"
		resultType="int">
		SELECT COUNT(movie_no) FROM movie WHERE movie_no
		IN(select movie_no from movie_category
		WHERE category_type_no = #{category_type_no});
	</select>
</mapper>