<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="FreeMovieMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="freeMovieMap" type="study.spring.clip.model.FreeMovie">
        <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="movie_no" column="movie_no" />
        <result property="name" column="name" />
        <result property="sale" column="sale" />
        <result property="thumbnail" column="thumbnail" />
        <result property="runtime" column="runtime" />
        <result property="age" column="age" />
        <result property="period" column="period" />
        <result property="release_date" column="release_date" />
    </resultMap>
    
	<select id="freeList"
		parameterType="study.spring.clip.model.FreeMovie"
		resultMap="freeMovieMap">
		SELECT movie_no, name, IF(age='12', '12세 이용가', IF(age='15', '15세 이용가', IF(age='19', '청소년 관람 불가', '전체 이용가'))) as age, runtime, thumbnail, DATE_ADD(period, INTERVAL -1 DAY) AS period FROM movie
		WHERE sale = 100;
	</select>
	
	<update id="setFreeEdit"
    	parameterType="study.spring.clip.model.FreeMovie">
        UPDATE movie SET sale=100, period = #{period}
		WHERE movie_no = #{movie_no};
    </update>
	
	<select id="selectCountFree"
	 	parameterType="study.spring.clip.model.FreeMovie"
	 	resultType="int">
	 	SELECT COUNT(*) FROM movie WHERE sale = 100;
	</select>
	
	<update id="endFreeEdit"
    	parameterType="study.spring.clip.model.FreeMovie">
        UPDATE movie SET sale = #{sale}, period = null
		WHERE movie_no = #{movie_no};
    </update>
	
	<select id="endFreeMovieSearch"
		parameterType="study.spring.clip.model.FreeMovie"
		resultMap="freeMovieMap">
		SELECT movie_no FROM movie WHERE period = #{period} LIMIT 1;
	</select>
	
	<select id="notFreeMovieSearch"
		parameterType="study.spring.clip.model.FreeMovie"
		resultMap="freeMovieMap">
		(SELECT movie_no FROM movie WHERE sale != 100 ORDER BY release_date desc LIMIT 2, 100000000000) ORDER BY RAND() LIMIT 1;
	</select>
	
	<!-- 여기부터는 할인영화 -->
	<!-- 최신 영화 x(2)개를 제외한 랜덤한 영화 선택 -->
	<select id="notSaleMovieSearch"
	 	parameterType="study.spring.clip.model.FreeMovie"
		resultMap="freeMovieMap">
	 	(SELECT movie_no FROM movie WHERE sale = 0 ORDER BY release_date desc LIMIT 2, 100000000000) ORDER BY RAND() LIMIT 1;
	</select>
	
	<update id="setSaleEdit"
    	parameterType="study.spring.clip.model.FreeMovie">
        UPDATE movie SET sale = FLOOR( (RAND() * 55) + 5 ), period = null
		WHERE movie_no = #{movie_no};
    </update>
    
    <select id="selectCountSale"
	 	parameterType="study.spring.clip.model.FreeMovie"
	 	resultType="int">
	 	SELECT COUNT(*) FROM movie WHERE sale != 0;
	</select>
	
	<select id="selectCountAll"
	 	parameterType="study.spring.clip.model.FreeMovie"
	 	resultType="int">
	 	SELECT COUNT(*) FROM movie;
	</select>

</mapper>