<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomeMovieSliderMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="HomeMovieSliderMap"
		type="study.spring.clip.model.HomeMovieSlider">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="movie_no" column="movie_no" />
		<result property="name" column="name" />
		<result property="thumbnail" column="thumbnail" />
		<result property="price" column="price" />
		<result property="sale" column="sale" />
		<result property="category_type_no" column="category_type_no" />
	</resultMap>

	<select id="RecommandHomeMovieSlider"
		parameterType="study.spring.clip.model.HomeMovieSlider"
		resultMap="HomeMovieSliderMap">
		SELECT movie_no, NAME, thumbnail FROM movie
		WHERE
		release_date
		IN(SELECT release_date FROM movie ORDER BY RELEASE_date
		DESC)
		LIMIT 0,10;
	</select>

	<select id="JangreMovieSlider"
		parameterType="study.spring.clip.model.HomeMovieSlider"
		resultMap="HomeMovieSliderMap">
		SELECT movie_no, name, thumbnail, price, sale FROM movie
		where movie_no IN(select movie_no from movie_category
		where category_type_no
		IN(SELECT category_type_no FROM category_type WHERE name = #{name}))
		LIMIT 0,10;
	</select>



</mapper>
	