<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="InterestMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="InterestMap" type="study.spring.clip.model.Interest">
        <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="interest_no" column="interest_no" />
        <result property="movie_no" column="movie_no" />
        <result property="user_no" column="user_no" />
        <result property="name" column="name" />
        <result property="thumbnail" column="thumbnail" />
        <result property="runtime" column="runtime" />
        <result property="age" column="age" />
        <result property="release_date" column="release_date" />
    </resultMap>
    
	<select id="interestList"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		SELECT movie_no, name, age, runtime, thumbnail FROM movie
		WHERE movie_no IN (SELECT movie_no FROM interest WHERE user_no= #{user_no});
	</select>
	
	<select id="interestInsertCheck"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		SELECT movie_no from interest
		where user_no = #{user_no} AND movie_no = #{movie_no};
	</select>
	
	<select id="interestInsert"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		INSERT INTO interest (movie_no ,user_no)
		VALUES (#{movie_no},#{user_no});
	</select>
	
	<select id="interestDelete"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		DELETE FROM interest
		WHERE (movie_no=#{movie_no} and user_no=#{user_no});
	</select>

	<select id="resentList"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		SELECT movie_no, name, release_date FROM movie
		WHERE movie_no IN (SELECT movie_no FROM interest WHERE user_no= #{user_no})
		ORDER BY release_date desc;
	</select>
	<select id="highpriceList"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		SELECT movie_no, name, release_date FROM movie
		WHERE movie_no IN (SELECT movie_no FROM interest WHERE user_no= #{user_no}) 
		ORDER BY price desc;
	</select>
	<select id="rowpriceList"
		parameterType="study.spring.clip.model.Interest"
		resultMap="InterestMap">
		SELECT movie_no, name, release_date FROM movie
		WHERE movie_no IN (SELECT movie_no FROM interest WHERE user_no= #{user_no}) 
		ORDER BY price asc;
	</select>
	
	<!-- 회원 탈퇴 행 삭제 -->
	<delete id="deleteList" parameterType="study.spring.clip.model.Interest">
		DELETE FROM interest WHERE user_no = #{user_no};
	</delete>
</mapper>